@media (min-width: 1024px) {
    body {
        padding-top: 0px;
    }
    .Contenido {
      min-height: 100vh;
      display: flex;
    }
    .Scroll {
        max-height: 100vh;
        overflow: auto;
    }
    .Flex {
        display: flex;
    }
    .Flex > * {
        width: 100%;
    }
    .Sidebar {
      max-width: 230px;
    }
    .Submenu {
        max-width: 200px;
    }
    .showMenu .navBar {
        z-index: 1;
    }

}
