label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 0 0 5px 0;
}

.Text {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.2);
}
.Text:hover {
    border: 1px solid rgba(0,0,0,.3);
}
.Text:active,.Text:focus {
    border: 1px solid rgba(0,0,0,.4);
}
.Button {
    box-sizing: border-box;
    padding: 10px;
    background-color: #3972c9;
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    opacity: .7;
}
.Button.Danger {
    background-color: #b83b39;
}
.Button:hover {
    opacity: 1;
}
.Button.buttonBlock {
    width: 100%;
}
.Button.Small {
    padding: 4px 10px;
    font-size: 0.8em;
}
