<h1>{{podcast.nombre}}</h1>
<ul class="listEpisodios Transition">
    {{#content}}
    <li class="Flex Transition onClick" data-click=".Nombre a">
        <p class="Controles">
            <a href="javascript:void(0);" class="Transition"><span class="typcn typcn-media-play"></span></a>
        </p>
        <p class="Fecha">{{date}}</p>
        <p class="Nombre"><a href="{{link}}" class="link-ajax" data-class="EpisodioView" data-target=".episodioContent" data-template="episodioTemplate">{{{nombre}}}</a></p>
        <p class="Duracion">{{duracion}}</p>
    </li>
    {{/content}}
</ul>
