<h1>{{categoria.nombre}}</h1>
<ul class="listPodcasts Transition">
{{#content}}
<li class="Flex onClick Transition" data-click="h3 a">
    <div class="Imagen">
        <img src="{{imagen}}" alt="{{nombre}}" class="Lazy" width="70" height="70" />
    </div>
    <div>
        <h3><a href="{{link}}" class="link-ajax" data-target=".listEpisodiosContent" data-template="episodiosTemplate">{{nombre}}</a></h3>
        <div class="Descripcion Transition">
            <p>{{descripcion}}</p>
        </div>
    </div>
</li>
{{/content}}
</ul>
